<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

	<services>
   <service name="EAStatistic.EAStatisticService">
     <endpoint address="http://localhost:20001/EAStatistic" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="EAStatistic.IEAStatisticService"/>
   </service>
 </services>
   	<behaviors>
	  <endpointBehaviors>
		 <behavior name="jsonBehavior">
		  <webHttp/>
		</behavior>
	  </endpointBehaviors>
	</behaviors>
  </system.serviceModel>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
<connectionStrings><add name="DCMARCH1Entities" connectionString="metadata=res://*/EAModel.csdl|res://*/EAModel.ssdl|res://*/EAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.123.231;initial catalog=DCMARCH1;persist security info=True;user id=UVUSER;password=EA40Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings></configuration>
